header {
  min-height: 580px;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
.container {
  max-width: var(--width-content);
  margin: 0 auto;
}

@media only screen and (max-width: 700px) {
  .mobile-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content {
  box-sizing: border-box;
  max-width: var(--width-content);
  width: 100%;
  margin: 0 auto;
}
.content h2 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.content h3 {
  font-size: 28px;
  font-weight: normal;
}

@media only screen and (min-width: 701px) {
  .content {
    padding: 0 1em;
  }
}

@media only screen and (max-width: 700px) {
  .content {
    padding-left: 0;
    padding-right: 0;
  }
  .content h2 {
    text-align: left;
    /*padding: 0 20px;*/
  }
}

.hidden {
  display: none;
}

button {
  border-color: var(--color);
  background-color: var(--color);
}
/* ####### Top menu ####### */

menu.site-menu {
  /*position: relative;*/
  box-sizing: border-box;
  background-color: var(--color);
  margin: 0;
  overflow: hidden;
  padding: 15px 30px;
}
menu.site-menu.open {
  height: auto;
}
menu.site-menu ul {
  align-items: center;
  display: flex;
  font-weight: medium;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
menu.site-menu li {
  list-style: none;
  margin: 0;
}
menu.site-menu a {
  color: white;
}
menu.site-menu .party-logo {
  margin-left: auto;
}
menu.site-menu .site-menu-overlay {
  background-color: #000;
  opacity: 0.5;
  display: none;
  position: fixed;
  top: 66px;
  left: 0;
  height: calc(100% - 66px);
  width: 100%;
  z-index: 1;
}
.hamburger-menu {
  ----opacity--hover: 1;
  ----bar--border-radius: 2px;
  ----bar--spacing: 5px;
  ----bar--width: 30px;
  ----bar--height: 3px;

  margin-left: auto;
  height: 66px;
  display: none;
  box-sizing: content-box;
  cursor: pointer;
  /*height: calc(var(----bar--height) * 3 + var(----bar--spacing) * 2);*/
  height: 36px;
  opacity: 0.7;
  padding: var(----padding);
  position: relative;
  transition: opacity 0.3s ease;
  width: var(----bar--width);
}
.hamburger-menu:hover {
  opacity: 1;
}
.hamburger-menu-bars {
  display: block;
  margin-top: calc(var(----bar--height) / -2);
  top: 50%;
}
.hamburger-menu-bars::before,
.hamburger-menu-bars::after {
  box-sizing: border-box;
  left: 0;
  content: "";
}
.hamburger-menu > .hamburger-menu-bars,
.hamburger-menu > .hamburger-menu-bars::after,
.hamburger-menu > .hamburger-menu-bars::before {
  background: white;
  border-radius: var(----bar--border-radius);
  height: var(----bar--height);
  position: absolute;
  transition-duration: 0.15s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-timing-function: ease;
  width: var(----bar--width);
}
.hamburger-menu.close > .hamburger-menu-bars::before {
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  top: calc(var(----bar--spacing) * -1 + var(----bar--height) * -1);
}
.hamburger-menu.close > .hamburger-menu-bars::after {
  transition: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  bottom: calc(var(----bar--spacing) * -1 + var(----bar--height) * -1);
}
.hamburger-menu.close.active > .hamburger-menu-bars {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger-menu.close.active > .hamburger-menu-bars:before {
  opacity: 0;
  top: 0;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
}
.hamburger-menu.close.active > .hamburger-menu-bars:after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s,
    -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
@media only screen and (max-width: 700px) {
  .hamburger-menu {
    display: block;
  }
  menu.site-menu {
    height: 66px;
  }
  menu.site-menu ul {
    background-color: var(--color);
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 0;
    top: 66px;
    left: 0;
    overflow: hidden;
    z-index: 2;
  }
  menu.site-menu.open ul {
    height: auto;
  }
  menu.site-menu.open .site-menu-overlay {
    display: block;
  }

  menu.site-menu li {
    display: block;
    padding: 2em 0;
  }
}
/* ####### Hero ####### */
#lead {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 30px;
  text-align: left;
}
#lead .title {
  background-color: var(--color-accent);
  color: white;
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  padding: 20px 25px;
}
#lead .title h1 {
  font-size: 56px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}
#lead .title h3 {
  margin: 0;
}
#lead .intro-text p:first-child {
  margin-top: 0;
}
#lead .intro-text p:last-child {
  margin-bottom: 0;
}
#lead a.social-link {
  color: var(--color-accent);
  display: inline-block;
  margin-right: 2em;
  margin-top: 1em;
}

@media only screen and (max-width: 960px) {
  #lead {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    padding: 0 20px 50px;
  }
  #lead .photo {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
  }
  #lead .photo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  #lead .title {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    margin: 0 -30px;
  }
  #lead .title span {
    display: inline;
  }
  #lead .intro-text {
    grid-row: 3 / 3;
    grid-column: 1 / 1;
  }
}

@media only screen and (min-width: 961px) {
  #lead {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 50px 30px;
  }
  #lead .intro-text {
    grid-column: 2 / 2;
  }
  #lead .photo {
    grid-row: 1 / 3;
  }
  #lead .title {
    margin: 0;
  }
  #lead .title span {
    display: block;
  }
}

main {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.two-columns > div {
  width: 49%;
}
.two-columns div:last-child {
  box-sizing: border-box;
}
@media only screen and (max-width: 960px) {
  .two-columns {
    flex-direction: column;
  }
  .two-columns > div {
    width: 100%;
    margin: 1em 0;
  }
}
section#about .content {
  background-color: var(--color-bg-secondary);
  padding: 100px 1em;
}
@media only screen and (max-width: 700px) {
  section#about .content {
    padding: 2em var(--padding-mobile);
  }
}
section#about .content .wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.team-intro {
  text-align: center;
  margin: 50px 0;
}
.team-member {
  display: flex;
}
.team-member img {
  height: 164px;
  width: 164px;
  margin-right: 1em;
}
.team-member div {
  flex-shrink: 1;
}
.team-member h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 15px;
}
@media only screen and (max-width: 700px) {
  .team-intro {
    text-align: left;
    padding: 20px;
    margin: 30px 0 0;
  }

  .team-members .team-member {
    box-sizing: border-box;
    padding: var(--padding-mobile);
    flex-direction: column;
    margin: 0;
  }
  .team-member h3 {
    margin: 15px 0;
  }
}

.join-team {
  margin-top: 80px;
}
.join-team img {
  width: 100%;
}
.join-team p:first-child {
  margin-top: 0;
}

.desc div {
  box-sizing: border-box;
}

.desc div:last-child {
  background-color: var(--color-bg-secondary);
  padding: 30px 50px;
}

@media only screen and (max-width: 700px) {
  #support .content h2 {
    margin-bottom: 0;
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
  }
}
@media only screen and (max-width: 960px) {
  .desc {
    flex-direction: column;
  }
  .desc > div {
    width: 100%;
  }
}
@media only screen and (min-width: 961px) {
  .desc {
    flex-direction: row;
  }

  .desc div {
    width: 49%;
  }
}
@media only screen and (max-width: 700px) {
  .desc div,
  .desc div:last-child {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#program .content {
  padding: 0;
}
#program h3 {
  margin-top: 0;
}

@media only screen and (max-width: 700px) {
  #program h2 {
    padding: var(--padding-mobile);
  }
}
.glide__slide {
  padding-bottom: 1em;
  z-index: 1;
}
.glide__slide > div {
  width: calc(100% - 200px);
  margin: 0 100px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.glide__slide img {
  background-color: var(--color-accent);
  margin-right: 1em;
  height: 100px;
  width: 100px;
}
.glide__bullets {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.glide__bullet {
  background-color: #d9d9d9;
  border: 0;
  border-radius: 20px;
  height: 16px;
  margin: 0 6px;
  padding: 0;
  width: 16px;
}
.glide__bullet:hover,
.glide__bullet--active {
  background-color: #3e3e3e;
}

@media only screen and (max-width: 960px) {
  .glide__arrows {
    display: none;
  }

  .glide__slide div {
    margin: 0;
    padding: 0 var(--padding-mobile);
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .glide__slide > div {
    flex-direction: column;
    padding: 0;
  }
  .glide__slide img {
    margin: 0 auto 1em;
  }

  .glide__slide .slide-body {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 961px) {
  .glide__slide > div {
    width: calc(100% - 200px);
  }
  .glide__arrows {
    display: flex;
    height: calc(100% - 30px);
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .glide__arrow {
    background-color: #eee;
    border: none;
    margin: 0;
    z-index: 2;
  }
  .glide__arrow img {
    display: block;
    height: 46px;
    width: 27px;
  }
}
.fundrise-target {
  background-color: #fa5c43;
  color: white;
  margin: 70px 0;
  padding: 40px 50px;
}
@media only screen and (max-width: 700px) {
  .fundrise-target {
    margin: 30px 0;
    padding: 40px var(--padding-mobile);
  }
  #support .content .fundrise-target h2 {
    padding: 0;
  }
}

.fundrise-target .newspaper-progress {
  align-content: flex-start;
  display: flex;
  flex-flow: wrap;
}

.fundrise-target h2,
.fundrise-target h3 {
  margin: 0;
  text-align: left;
}
.fundrise-target .icon {
  margin-right: 15px;
}
.fundrise-target .progress {
  display: block;
  width: 100%;
}
.fundrise-target .progress div:first-child {
  text-align: right;
}
.fundrise-target .progress .value {
  font-size: 28px;
  font-weight: bold;
}
.fundrise-target .progress-bar {
  background-color: white;
  opacity: 1;
  appearance: none;
  height: 6px;
  margin: 1em 0;
  width: 100%;
}
.progress-bar::-webkit-progress-bar {
  background-color: white;
  height: 6px;
}
.progress-bar::-webkit-progress-value {
  background-color: white;
  position: relative;
  top: -3px;
  height: 12px;
}
.progress-bar::-moz-progress-bar {
  background-color: white;
  height: 12px;
  position: relative;
  top: -3px;
  margin-top: -3px;
}
.fundrise-what .icon {
  background-color: var(--color);
  display: inline-block;
  padding: 10px 18px;
}
.fundrise-what strong {
  display: block;
  font-size: 28px;
  margin: 20px 0;
}
@media only screen and (max-width: 700px) {
  .fundrise-what > div {
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
  }
}

.fundrise-who {
  border: 4px solid var(--color);
  margin: 60px 0;
  padding: 80px 70px;
}
.fundrise-who .donators-info > div {
  margin-bottom: 50px;
}
.fundrise-who .donators-info > div:last-child {
  margin-bottom: 0;
}
.fundrise-who .donators-info strong {
  line-height: 37px;
}

.fundrise-who img {
  float: left;
  margin-right: 20px;
}

.fundrise-who .donation-advise {
  background-color: var(--color-bg-gray);
  padding: 40px;
}

@media only screen and (max-width: 700px) {
  .fundrise-who {
    padding: 1em 20px;
    border-left: 0;
    border-right: 0;
  }

  .fundrise-who .donation-advise {
    margin: 0 -20px;
  }
}

.donation-guides .advise {
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .donation-guides .advise {
    text-align: left;
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
    margin-top: 10px;
  }
}
.accordion {
  max-width: 700px;
  margin: 40px auto;
}

.guide-title {
  background-color: var(--color-bg-gray);
  display: flex;
  cursor: pointer;
  font-size: 18px;
  padding: 20px 30px;
}

.guide-title .arrow {
  margin-left: auto;
}

.sberbank .guide-title {
  background-color: var(--color-accent);
  color: white;
}

.generic-bank .guide-title .arrow {
  color: var(--color-text);
}

.accordion .guide-body {
  overflow: hidden;
  transition: height 0.5s;
}

.accordion .guide-body img {
  display: block;
  float: none;
  margin-top: 20px;
}

.accordion .guide-body li {
  margin-bottom: 30px;
}
.accordion .guide-body li:last-child {
  margin-bottom: 0;
}
.bank-props {
  background-color: var(--color-bg-gray);
  padding: 50px 30px;
}

footer {
  background-color: var(--color);
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
footer a {
  color: white;
  text-decoration: underline;
}
