<menu class="site-menu">
  <div class="container">
    <ul>
      <li><a href="#">Обо мне</a></li>
      <li><a href="#program">Программа</a></li>
      <li><a href="#team">Команда</a></li>
      {# <li><a href="#volunteer">Стать волонтёром</a></li> #}
      {# <li><a href="#watch">Стать наблюдателем</a></li> #}
      <li><a href="#support">Поддержать</a></li>
    </ul>
  </div>
</menu>
