---
permalink: /index.html
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% for filename in site.styles %}
    <link rel="stylesheet" type="text/css" href="./styles/{{ filename }}.css" />
    {% endfor %}
    <title>{{ site.title }}</title>

    <!-- OpenGraph Meta Tags -->
    <meta property="og:url" content="{{ site.baseUrl }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    {#
    <meta property="og:image" content="{{ site.baseUrl }}/img/card.jpg" />
    #}
    <!-- Twitter Meta Tags -->

    {#
    <meta name="twitter:card" content="summary_large_image" />
    #} {#
    <meta property="twitter:domain" content="freeukraintsev.org" />
    #}
    <meta property="twitter:url" content="{{ site.baseUrl }}" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    {#
    <meta name="twitter:image" content="{{ site.baseUrl }}/img/card.jpg" />
    #}
    <link rel="stylesheet" href="./lib/glide.core.min.css" />
    <script src="./lib/glide.min.js"></script>
    {# {% block css_inject %}{% endblock %} #}
  </head>
  <body>
    <header class="site-header">
      {% include "layouts/menu.njk" %}
      <div id="lead" class="container">
        <div class="photo">
          <img src="./img/soluyanov_photo.jpg" />
        </div>
        <div class="title">
          <h1><span>Глеб </span><span>Солуянов</span></h1>
          <h3>Кандидат в муниципальные депутаты района Измайлово</h3>
        </div>
        <div class="intro-text">
          {% markdown %} {%- include "./content/lead.md" -%} {% endmarkdown %}
          <a class="social-link" href="{{ site.social.telegram }}" target="_blank">Telegram</a>
          <a class="social-link" href="{{ site.social.vk }}" target="_blank">ВКонтакте</a>
        </div>
      </div>
    </header>
    <main>
      <section id="about">
        <div class="content">
          <div class="wrapper">
            {% markdown %} {%- include "./content/bio.md" -%} {% endmarkdown %}
          </div>
        </div>
      </section>
      <section id="program">
        <div class="content">
          {% markdown %} {%- include "./content/program/title.md" -%} {%
          endmarkdown %}
          <div class="glide">
            <div class="glide__arrows" data-glide-el="controls">
              <button
                class="glide__arrow glide__arrow--left"
                data-glide-dir="<"
              >
                <img src="./img/arrow-left.svg" />
              </button>
              <button
                class="glide__arrow glide__arrow--right"
                data-glide-dir=">"
              >
                <img src="./img/arrow-right.svg" />
              </button>
            </div>
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                {% for slide in site.programSlides %}
                <li class="glide__slide">
                  <div>
                    <img src="{{ './img/program/program' + slide + '.svg'}}" />
                    <div class="slide-body">
                      {% markdown %}{% include "./content/program/slides/" +
                      slide + ".md" %}{% endmarkdown %}
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
              {% for index in site.programSlides %}
              <button
                class="glide__bullet"
                data-glide-dir="={{index - 1}}"
              ></button>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      <section id="team">
        <div class="content">
          <div class="team-intro">
            {% markdown %} {%- include "./content/team/intro.md" -%} {%
            endmarkdown %}
          </div>

          <div class="team-members two-columns">
            <div class="team-member">
              <img src="./img/sherbitskaya.jpg" alt="Ольга Щербицкая фото" />
              <div>
                {% markdown %} {%- include "./content/team/olga.md" -%} {%
                endmarkdown %}
              </div>
            </div>
            <div class="team-member">
              <img src="./img/alyoshin.jpg" alt="Илья Алёшин фото" />

              <div>
                {% markdown %} {%- include "./content/team/ilya.md" -%} {%
                endmarkdown %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="support">
        <div class="content">
          {% markdown %} {%- include "./content/support/title.md" -%} {%
          endmarkdown %}
          <div class="desc two-columns">
            <div>
              {% markdown %} {%- include "./content/support/desc.md" -%} {%
              endmarkdown %}
            </div>
            <div>
              {% markdown %} {%- include "./content/support/aside.md" -%} {%
              endmarkdown %}
            </div>
          </div>
          <div class="fundrise-target two-columns">
            <div class="newspaper-about">
              {% markdown %} {%- include "./content/support/target.md" -%} {%
              endmarkdown %}
            </div>
            <div class="newspaper-progress">
              <div class="icon">
                <img src="./img/newspaper.svg" alt="газета" />
              </div>
              <h3>
                Спасибо за вашу <br />
                солидарность!
              </h3>
              <div class="progress">
                <div>
                  Нужно
                  <span class="value"
                    >{{ site.fundrise.target.toString() }} ₽</span
                  >
                </div>
                <progress
                  value="{{ site.fundrise.current.valueOf() }}"
                  max="{{ site.fundrise.target.valueOf() }}"
                  class="progress-bar"
                ></progress>
                <div>
                  Собрано
                  <span class="value"
                    >{{ site.fundrise.current.toString() }} ₽</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="fundrise-what">
            <h2>На что ещё собираем деньги</h2>
            <div class="two-columns">
              <div>
                <div class="icon">
                  <img src="./img/listovka.svg" alt="Агитация" />
                </div>
                {% markdown %} {%- include "./content/support/agit.md" -%} {%
                endmarkdown %}
              </div>
              <div>
                <div class="icon">
                  <img src="./img/shtab.svg" alt="Штаб" />
                </div>
                {% markdown %} {%- include "./content/support/headquarters.md"
                -%} {% endmarkdown %}
              </div>
            </div>
          </div>
          <div class="fundrise-who two-columns">
            <div class="donators-info">
              <div class="who-can">
                <img src="./img/yes.png" />
                {% markdown %} {%- include "./content/support/who-can.md" -%} {%
                endmarkdown %}
              </div>
              <div class="who-cannot">
                <img src="./img/no.png" />
                {% markdown %} {%- include "./content/support/who-cannot.md" -%}
                {% endmarkdown %}
              </div>
            </div>
            <div>
              <div class="donation-advise">
                {% markdown %} {%- include "./content/support/advise.md" -%} {%
                endmarkdown %}
              </div>
            </div>
          </div>
          <div class="donation-guides">
            <h2>Как осуществить пожертвование на избирательный счёт?</h2>
            <div class="advise">
              Одно физическое лицо не может перевести суммарно более 10 000 ₽.
            </div>
          </div>
          <div class="accordion">
            <div class="sberbank">
              <div class="guide-title">
                Для физических лиц — пользователей «Сбербанк Онлайн»
                <img class="arrow arrow-down" src="./img/arrow-down.svg" alt="стрелка открытия">
                <img class="arrow arrow-up hidden" src="./img/arrow-up.svg" alt="стрелка закрытия">
              </div>
              <div class="guide-body">
                {% markdown %} {%- include "./content/support/sber/guide.md" -%}
                {% endmarkdown %}
              </div>
            </div>
            <div class="generic-bank">
              <div class="guide-title">
                Для физических лиц — пользователей других банков
                <img class="arrow arrow-down" src="./img/arrow-down-black.svg" alt="стрелка открытия">
                <img class="arrow arrow-up hidden" src="./img/arrow-up-black.svg" alt="стрелка закрытия">

              </div>
              <div class="guide-body">
                {% markdown %} {%- include "./content/support/generic/first.md"
                -%} {% endmarkdown %}
                <div class="bank-props">
                  {% markdown %} {%- include
                  "./content/support/generic/props.md" -%} {% endmarkdown %}
                </div>
                <div>
                  {% markdown %} {%- include "./content/support/generic/last.md"
                  -%} {% endmarkdown %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="content">
        Сайт создан безвозмездно и по собственной инициативе активистами <a href="https://anticapitalist.ru">Российского социалистического движения</a>
      </div>
    </footer>
    <script>
      window.onload = function () {
        new Glide(".glide").mount();
        const sberBlock = {
          opened: false,
          header: document.querySelector(".sberbank .guide-title"),
          arrowUp:  document.querySelector(".sberbank .guide-title .arrow-up"),
          arrowDown:  document.querySelector(".sberbank .guide-title .arrow-down"),
          body: document.querySelector(".sberbank .guide-body"),
          height: 0,
        };
        sberBlock.height = sberBlock.body.getBoundingClientRect().height;
        sberBlock.body.style.height = 0;

        sberBlock.header.addEventListener("click", (e) => {
          e.stopPropagation();
          e.preventDefault();
          sberBlock.opened = !sberBlock.opened;
          if (sberBlock.opened) {
            sberBlock.arrowDown.classList.add("hidden");
            sberBlock.arrowUp.classList.remove("hidden");
          } else {
            sberBlock.arrowUp.classList.add("hidden");
            sberBlock.arrowDown.classList.remove("hidden");
          }
          sberBlock.body.style.height = sberBlock.opened
            ? sberBlock.height + "px"
            : "0";
        });

        const genericBankBlock = {
          opened: false,
          header: document.querySelector(".generic-bank .guide-title"),
          arrowUp:  document.querySelector(".generic-bank .guide-title .arrow-up"),
          arrowDown:  document.querySelector(".generic-bank .guide-title .arrow-down"),
          body: document.querySelector(".generic-bank .guide-body"),
          height: 0,
        };
        genericBankBlock.height =
          genericBankBlock.body.getBoundingClientRect().height;
        genericBankBlock.body.style.height = 0;

        genericBankBlock.header.addEventListener("click", (e) => {
          e.stopPropagation();
          e.preventDefault();
          genericBankBlock.opened = !genericBankBlock.opened;
          if (genericBankBlock.opened) {
            genericBankBlock.arrowDown.classList.add("hidden");
            genericBankBlock.arrowUp.classList.remove("hidden");
          } else {
            genericBankBlock.arrowUp.classList.add("hidden");
            genericBankBlock.arrowDown.classList.remove("hidden");
          }
          genericBankBlock.body.style.height = genericBankBlock.opened
            ? genericBankBlock.height + "px"
            : 0;
        });

        document.querySelector(".site-menu-overlay").addEventListener("click", e => {
          e.stopPropagation();
          e.preventDefault();
          siteMenu.classList.remove("open");
          hamburger.classList.remove("active");
        })

        const hamburger = document.querySelector(".hamburger-menu");
        const siteMenu = document.querySelector(".site-menu");
        document.querySelector(".site-menu ul").addEventListener("click", e => {
          if (e.target.tagName.toLowerCase() === "a") {
            if (siteMenu.classList.contains("open")) {
              siteMenu.classList.remove("open");
              hamburger.classList.remove("active");
            }
          }
        })
        hamburger.addEventListener("click", e => {
          if (hamburger.classList.contains("active")) {
            hamburger.classList.remove("active");
            siteMenu.classList.remove("open")
          } else {
            hamburger.classList.add("active");
            siteMenu.classList.add("open")
          }
          e.stopPropagation()
        })
      };
    </script>
  </body>
</html>
